// Color system
// edcc99
$brand-color:#f75940;
$white: #ffffff;
$bg-color-light:#f0f3f1;
$light-grey: #8f96a8;
$grey: #5E6271;
$orange: #ff6200;
$yellow:#ffaa00;
$pink:#d96a84;
$green:#00b43c;
$cyan:#3dc7be;
$white-blue:#6a8aff;
$blue:#50788d;
$dark: #334252;
$black: #000000;
//Font system
$font-family-base: 'Poppins',
-apple-system,
BlinkMacSystemFont,
sans-serif;
$font-family-sans-serif:sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;